{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="main-content ">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">
                        The new collections are here
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section class="section-margin-bottom">
        <div class="container mt-5 text-center">
            <div class="col-12 mb-4">
                <h3 class="text-blue">
                    Shop by Category
                </h3>
            </div>  
        </div>
        
        <div class="row mb-5">
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto  text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}">Test Products
                    <img class="card-img-top img-fluid" src="https://trail-direct-lcdev.s3.eu-west-1.amazonaws.com/media/brakes-cover.jpg" alt="bike brakes-cover">
                    <p class="font-weight-bold mt-2 text-uppercase">testing</p></a>
                </div>
            </div>
            </div>
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto  text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}">Test Products
                    <img src="/media/home-page-bike.jpg" class="img-fluid">
                    <p class="font-weight-bold mt-2 text-uppercase">testing</p></a>
                </div>
            </div>
            </div>
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto  text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}">Test Products
                    <img src="/media/home-page-bike.jpg" class="img-fluid">
                    <p class="font-weight-bold mt-2 text-uppercase">testing</p></a>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}