{% extends "base.html" %}
{% load static %}



{% block content %}
<section class="main-content ">
    <div class="main-image">
        
        <div class="overlay-header"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    
                    <h1 class="display-4 logo-font text-black">
                        The Best Upgrades to Make!
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}"
                                class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  

<section class="section-margin-bottom">
        <div class="container mt-5 text-center">
            <div class="col-12 mb-4">
                <h3 class="text-blue">
                    Shop by Category
                </h3>
            </div>  
        </div>
        
        <div class="row mb-5">
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}?category=brakes" class="text-decoration-none text-black">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}brakes-cover.jpg" alt="bike brakes-cover">
                    <p class="font-weight-bold mt-2 text-uppercase">Brakes</p></a>
                </div>
            </div>
            </div>
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}?category=tyres" class="text-decoration-none text-black">
                    <img class="card-img-top img-fluid" src= "{{ MEDIA_URL }}tyre-cat-cover.jpg" alt="bike tyre-cover">
                    <p class="font-weight-bold mt-2 text-uppercase">Tyres</p></a>
                </div>
            </div>
            </div>
            <div class="container col-sm-3 mb-5">
            <div class="row justify-content-center ">

                <div class="m-3 card-category mx-auto bg-white text-center shadow-lg mb-5">
                    <a href="{% url 'products' %}?category=tools" class="text-decoration-none text-black">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}tool-cat.jpg" alt="bike tools-cover">
                    <p class="font-weight-bold mt-2 text-uppercase">Tools</p></a>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!--Newletter--> <!--https://bbbootstrap.com/snippets/bootstrap-responsive-subscribe-our-newsletter-form-81055470-->
    {% if not user.is_authenticated %}
    <section>
        <div class="newsletter-subscribe mt-5 container">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center newsletter">Subscribe to our Newsletter</h2>
                    <p class="text-center">Keep upto day with the lastest products and deals!</p>
                </div>
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row d-flex justify-content-center">
                        {% csrf_token %}
            
                        <div class="col-auto">
                            <p class="pt-2">Subscribe now to our newsletter</p>
                        </div>
            
                        <div class="col-auto">
                            <input id="name" name="name" class="form-control" placeholder="Your Name"/>
                        </div>
            
                        <div class="col-auto">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address"/>
                        </div>
            
                        <div class="col-auto">
                            <button type="submit" class="btn btncolor">
                                <i class="fa fa-arrow-circle-right fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}