{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <section class="section-margin-bottom">
        <div class="container mt-1 text-center">
            <div class="col-12 mb-2">
                <h2 class="text-black">
                    <strong>Contact Us</strong>
                </h2>
            </div>  
        </div>
        
        <div class="row mb-5">
            <div class="container col-sm-4 mb-5">
            <div class="row justify-content-center ">

                <div class="card m-2 text-center" style="max-width: 25rem; max-height: 15rem;">
                    <div class="card-header"><i class="fa-solid fa-envelope fa-2xl"></i></div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">General enquiries</h5>
                      <p class="card-text">Have a question about our products?.</p>
                      </div>
                      <a href="{% url 'contact general' %}" class="btn btn-black rounded-0 text-uppercase">Contact us</a>
                  </div>
            </div>
            </div>

            
            <div class="container col-sm-4 mb-5">
            <div class="row justify-content-center ">

                <div class="card m-2 text-center" style="max-width: 25rem; max-height: 15rem;">
                    <div class="card-header"><i class="fa-brands fa-rocketchat fa-2xl"></i></div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">Support</h5>
                      <p class="card-text">Need support on an order? Please contact a member of our team here.</p>
                      </div>
                      <a href="{% url 'contact' %}" class="btn btn-black rounded-0 text-uppercase">Support Email</a>
                  </div>
            </div>
            </div>
            
        </div>
    </section>
    <!-- FAQ -->
    <section class="faq">
        
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3><span><strong>Frequently</strong> </span><strong>Asked Questions</strong> </h3><br>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <strong>delivery</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Delevery</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <strong>order?</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>order</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <strong>cost?</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>cost</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}         